@{
    ViewData["Title"] = "Размеры детали";
}
@{
    //public int DM = Di
}
<h1 class="center">Размеры детали</h1>
<body>
    <div>
        <br />
        <table border="1" class="center">
            <tr>
                <th></th>
                <th>Высота</th>
                <th>Диаметр</th>
                <th>Масса с отверстием</th>
                <th>Масса без отверстия</th>
                <th>Общая масса</th>
            </tr>
            <tr>
                <th>Номинальный диск</th>
                <td>@ViewData["Height1"]</td>
                <td>@ViewData["Diametr1"]</td>
                <td>@ViewData["Weight_disc1"]</td>
                <td>@ViewData["Weight_wh1"]</td>
                <td>@ViewData["Weight1"]</td>
            </tr>
            <tr>
                <th>Максимальный диск</th>
                <td>@ViewData["Height2"]</td>
                <td>@ViewData["Diametr2"]</td>
                <td>@ViewData["Weight_disc2"]</td>
                <td>@ViewData["Weight_wh2"]</td>
                <td>@ViewData["Weight2"]</td>
            </tr>
            <tr>
                <th>Номинальное отверстие</th>
                <td>@ViewData["Height1"]</td>
                <td>@ViewData["DiametrHole1"]</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Максимальное отверстие</th>
                <td>@ViewData["Height2"]</td>
                <td>@ViewData["DiametrHole2"]</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>